/* add css module styles here (optional) */

.w_50per {
  width: 50%;
}

.h_100per {
  height: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.preview {
  height: 150vh;
  background-color: #4052f0;
}

.right {
  flex-grow: 1;
  
  margin-left: 12px;
  height: 200vh;
  background-color: rgb(28, 223, 28);
}
